<div class="invoice-container">
  <div class="invoice-header">
    <h2 class="invoice-title"> إنشاء فاتورة شراء جديدة </h2>
  </div>
  <hr class="divider">

  <form [formGroup]="invoiceForm" (ngSubmit)="submit()" class="invoice-form">

    <!-- القسم الأول: بيانات الفاتورة الأساسية -->
    <div class="section invoice-info-section">
      <h3 class="section-title">بيانات الفاتورة</h3>
      <div class="form-row">
        <mat-form-field appearance="outline" class="custom-input-theme">
          <mat-label>المورد</mat-label>
          <mat-select formControlName="supplierId">
            <mat-option>
              <ngx-mat-select-search
                [formControl]="supplierSearchCtrl"
                placeholderLabel="ابحث باسم المورد"
                noEntriesFoundLabel="لا يوجد مورد">
              </ngx-mat-select-search>
            </mat-option>
            @for (sup of filteredSuppliers; track sup.id) {
              <mat-option [value]="sup.id" >{{ sup.name }}</mat-option>
            }
          </mat-select>
          @if (invoiceForm.get('supplierId')?.invalid && invoiceForm.get('supplierId')?.touched) {
            <mat-error>يرجى اختيار المورد</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-input-theme">
          <mat-label>المخزن</mat-label>
          <mat-select formControlName="settledStoreId">
            <mat-option>
              <ngx-mat-select-search
                [formControl]="storeSearchCtrl"
                placeholderLabel="ابحث باسم المخزن"
                noEntriesFoundLabel="لا يوجد مخزن">
              </ngx-mat-select-search>
            </mat-option>
            @for (store of filteredStores; track store.id) {
              <mat-option [value]="store.id">{{ store.storeName }}</mat-option>
            }
          </mat-select>
           @if (invoiceForm.get('settledStoreId')?.invalid && invoiceForm.get('settledStoreId')?.touched) {
            <mat-error>يرجى اختيار المخزن</mat-error>
          }
        </mat-form-field>
        @if (isEdit) {
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>رقم الفاتورة</mat-label>
            <input matInput formControlName="invoiceNumber" readonly>
          </mat-form-field>
        }
        @if (isEdit) {
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>رقم الفاتورة</mat-label>
            <input matInput formControlName="invoiceNumber">
            @if (invoiceForm.get('invoiceNumber')?.invalid && invoiceForm.get('invoiceNumber')?.touched) {
              <mat-error>رقم الفاتورة اجباري</mat-error>
            }
        </mat-form-field>

          }
      </div>
    </div>

    <!-- القسم الثاني: المنتجات -->
    <div class="section products-section" formArrayName="items">
  <h3 class="section-title">المنتجات</h3>

  <div class="products-table">

    <!-- Header -->
    <div class="table-row table-header">
      <div>#</div>
      <div>المنتج</div>
      <div>الكمية</div>
      <div>سعر الشراء</div>
      <div>خصم %</div>
      <div>خصم نقدي</div>
      <div>إجمالي الخصم</div>
      <div>قبل الخصم</div>
      <div>بعد الخصم</div>
      <div></div>
    </div>

    <!-- Rows -->
    <div
      class="table-row"
      *ngFor="let item of items.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="net">{{ i + 1 }}</div>

      <div>
        <mat-select formControlName="productId">
          @for (pro of getAvailableProducts(i); track pro.id) {
            <mat-option [value]="pro.id">{{ pro.name }}</mat-option>
          }
        </mat-select>
      </div>

      <div>
        <input type="number" formControlName="quantity" (blur)="calculateTotal(i)">
      </div>

      <div>
        <input type="number" formControlName="buyingPricePerUnit" (blur)="calculateTotal(i)">
      </div>

      <div>
        <input type="number" formControlName="precentageRival" (blur)="calculateDiscount(i)">
      </div>

      <div>
        <input type="number" formControlName="rivalValue" (blur)="calculateDiscount(i)">
      </div>

      <div>
        <input readonly formControlName="totalRivalValue">
      </div>

      <div class="gross">
        {{ item.get('totalGrowthAmount')?.value | number:'1.2-2' }}
      </div>

      <div class="net">
        {{ item.get('totalNetAmount')?.value | number:'1.2-2' }}
      </div>

      <div>
        <button *ngIf="items.length > 1" (click)="removeItem(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </div>

  <!-- Add button -->
  <button type="button" (click)="addItem()" class="add-btn">
    <mat-icon>add</mat-icon>
    إضافة منتج
  </button>
</div>

    <!-- القسم الثالث: ملخص الفاتورة -->
    <div class="section invoice-summary-section">
      <h3 class="section-title">ملخص الفاتورة</h3>
      <div class="summary-grid">
        <div class="summary-row">
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي المنتجات</mat-label>
            <input matInput readonly formControlName="totalGrowthAmount">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>نسبة الخصم</mat-label>
            <input matInput (input)="onInvoiceDiscountChange()" formControlName="precentageRival">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>خصم نقدي</mat-label>
            <input matInput (input)="onInvoiceDiscountChange()" formControlName="rivalValue">
          </mat-form-field>
        </div>

        <div class="summary-row">
          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي الخصم</mat-label>
            <input matInput readonly formControlName="totalRivalValue">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>نسبة الضريبة</mat-label>
            <input matInput  (input)="recalculateInvoice()" formControlName="taxPrecentage">
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-input-theme">
            <mat-label>إجمالي الضريبة</mat-label>
            <input matInput readonly formControlName="taxValue">
          </mat-form-field>
        </div>

        <div class="invoice-total">
          <span class="total-label">صافي الفاتورة:</span>
          <span class="total-value">{{ invoiceForm.get('totalNetAmount')?.value | number:'1.2-2' }}</span>
        </div>
      </div>
    </div>

    <!-- أزرار الحفظ -->
    <div class="form-actions  w-25 d-flex justify-content-between align-items-center">
      <button type="submit" class="action-btn primary-btn d-flex justify-content-evenly align-items-center">
        <mat-icon>save</mat-icon>
        <span>حفظ الفاتورة</span>
      </button>
      <button type="button" class="action-btn secondary-btn d-flex justify-content-evenly align-items-center" >
        <mat-icon>close</mat-icon>
        <span>إلغاء</span>
      </button>
    </div>
  </form>
</div>
